PORT=
NODE_ENV=
MONGO_URI=
CLIENT_URL=
JSON_BODY_LIMIT=
APPLICATION_CAP_MULTIPLIER=
JOB_EXPIRY_DAYS=
# auth
JWT_SECRET=
JWT_EXPIRES_IN=
BCRYPT_SALT_ROUNDS=

# otp
OTP_LENGTH=
OTP_EXPIRY_MINUTES=
OTP_MAX_ATTEMPTS=
OTP_RESEND_COOLDOWN_SECONDS=